spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/meufluxo_db_dev
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format-sql: true

  flyway:
    enabled: false